<!--<section class="property-binding">
	
	<article>
		<h3>Interpolation / Interpolação</h3>
		<p>String renderizada com interpolation {{url}}</p>
	</article>
	<br><br>

	<article>
		<h3>Property Binding</h3>
		<img [src]="urlImg" />
		<img src="{{urlImg}}" />
		<img bind-src="urlImg" /> 
	</article>
	<br><br>

	<article>
		<div>
			Selecione uma classe:
			<select #classe (change)="0">
				<option value="alert-success">
					Sucesso
				</option>
				<option value="alert-info">
					Info
				</option>
				<option value="alert-warning">
					Warning
				</option>
				<option value="alert-danger" >
					Erro
				</option>
			</select>
			<br><br>
			<div class="alert {{classe.value}}" role="alert">
				Texto colorido de acordo com a seleção na combobox
			</div>
			<div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
				Info
			</div>
			<div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
				Warning
			</div>
			<div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
				Error
			</div>
			<div class="alert alert-danger" role="alert" style="display: none"
			[style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
				Esse texto so aparece em caso de erro!
			</div>
		</div>
	</article>
</section>

<section class="event-binding">
	<article>
		<h3>Event binding</h3>
		<div>
			<button (click)="onClick()">Clique-me!</button>
			<br><br>
			<input type="text" 
				(keyup)="onKeyUp($event)"
				(keyUp.enter)="onSave(campo.value)"
				(blur)="onSave(campo.value)"
				#campo
			/>

			<div>Conteúdo Atual: {{ conteudoAtual }}</div>
			<div>Conteúdo Salvo: {{ conteudoSalvo }}</div>

			<br><br>

			<span (mouseover)="onMouseSpan()" 
				  (mouseout)="onMouseSpan()"
				  [class.highlight] = "isMouseOver">
				Passe o mouse sobre mim!
			</span>
		</div>
	</article>
</section> 

<section class="two-way-data-binding">
	<article>
		<h3>Two Way Data Binding</h3>
		<div>
			<p>Você digitou: {{ nome }}</p>

			<input type="text" 
				[value]="nome" 
				(input)="nome = $event.target.value"
			/>

			<input type="text" 
				[ngModel]="nome" 
				(ngModelChange)="nome = $event"
			/>

			<input type="text" 
				[(ngModel)]="nome"
			/>

			<p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade!
			</p>

			<input type="text" 
				[(ngModel)]="pessoa.nome"
			/>

			<input type="text" 
				[(ngModel)]="pessoa.idade"
			/>
		</div>
	</article>
</section> -->

<section class="InputProperty">
	<article>
		<h3>Input Property</h3>
		<div>
			<curso [nome]="nomeCurso"></curso>
			<contador [valor]="valorInicial" 
				(mudouValor)="onValorMudou($event)"
			>
					
			</contador>
		</div>
	</article>
</section>